# This file is the entry point to configure your own services.
# Files in the packages/ subdirectory configure your dependencies.

# Put parameters here that don't need to change on each machine where the app is deployed
# https://symfony.com/doc/current/best_practices.html#use-parameters-for-application-configuration
parameters:
    locale: 'en'
    app.notifications.email_sender: admin@localhost
    api_media_base_url: '%env(API_MEDIA_BASE_URL)%'
    uploads_directory: '%kernel.project_dir%/public/uploads'
    uploadAbsoluteDir: '%kernel.project_dir%/public/%uploadDir%'
    logo_directory: '%kernel.project_dir%/public/uploads/companies/logo'
    resume_directory: '%kernel.project_dir%/public/uploads/resume'
    uploadDir: 'uploads'
services:
    # default configuration for services in *this* file
    _defaults:
        autowire: true      # Automatically injects dependencies in your services.
        autoconfigure: true # Automatically registers your services as commands, event subscribers, etc.

    # makes classes in src/ available to be used as services
    # this creates a service per class whose id is the fully-qualified class name
    App\:
        resource: '../src/'
        exclude:
            - '../src/*/Infrastructure/DataFixtures/'
            - '../src/DependencyInjection/'
            - '../src/*/Domain/Entity/'
            - '../src/*/Transport/EventListener/'
            - '../src/Kernel.php'

    app.serializer.normalizer.object.external_message:
        class: Symfony\Component\Serializer\Normalizer\ObjectNormalizer
        autoconfigure: false
        arguments:
            $nameConverter: '@serializer.name_converter.camel_case_to_snake_case'

    app.serializer.denormalizer.array.external_message:
        class: Symfony\Component\Serializer\Normalizer\ArrayDenormalizer
        autoconfigure: false

    app.serializer.normalizer.date_time.external_message:
        class: Symfony\Component\Serializer\Normalizer\DateTimeNormalizer
        autoconfigure: false
        arguments:
            - { datetime_format: 'Y-m-d H:i:s' }

    app.serializer.encoder.json.external_message:
        class: Symfony\Component\Serializer\Encoder\JsonEncoder
        autoconfigure: false

    app.serializer.external_message:
        class: Symfony\Component\Serializer\Serializer
        autoconfigure: false
        arguments:
            $normalizers:
                - '@app.serializer.normalizer.date_time.external_message'
                - '@app.serializer.normalizer.object.external_message'
                - '@app.serializer.denormalizer.array.external_message'
            $encoders:
                - '@app.serializer.encoder.json.external_message'

    League\Flysystem\FilesystemOperator: '@default.storage'

    App\Resume\Domain\EntityListener\:
        resource: '../src/Resume/Domain/EntityListener'
        tags: [ 'doctrine.orm.entity_listener' ]
    App\Resume\Domain\EntityListener\MediaListener:
        arguments:
            $uploadDir: '%uploadDir%'
            $uploadAbsoluteDir: '%uploadAbsoluteDir%'

    App\Resume\Transport\Form\Type\IconChoiceType:
        class: App\Resume\Transport\Form\Type\IconChoiceType
        # Symfony has already a container parameter to the kernel root directory.
        arguments: [ '%kernel.project_dir%' ]
        tags:
            - { name: form.type }
    App\Job\Application\Service\CompanyService:
        arguments:
            $logoCompanyDirectory: '%logo_directory%'
    App\Job\Application\Service\ResumeService:
        arguments:
            $resumeDirectory: '%resume_directory%'
when@dev:
    services:
        _defaults:
            autowire: true
            autoconfigure: true

        App\Tests\TestCase\:
            resource: '../tests/TestCase/*'

        App\Tests\Utils\:
            resource: '../tests/Utils/*'
        App\Resume\Infrastructure\DataFixtures\:
            resource: '../src/Resume/Infrastructure/DataFixtures/*'
        App\Job\Infrastructure\DataFixtures\:
            resource: '../src/Job/Infrastructure/DataFixtures/*'
        ProxyManager\Factory\AccessInterceptorValueHolderFactory:
            class: ProxyManager\Factory\AccessInterceptorValueHolderFactory


when@test:
    services:
        _defaults:
            autowire: true
            autoconfigure: true
            public: true

        App\Tests\TestCase\:
            resource: '../tests/TestCase/*'

        App\Tests\Utils\:
            resource: '../tests/Utils/*'
        App\Resume\Infrastructure\DataFixtures\:
            resource: '../src/Resume/Infrastructure/DataFixtures/*'
        App\Job\Infrastructure\DataFixtures\:
            resource: '../src/Job/Infrastructure/DataFixtures/*'
